.content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: #474A61;
  max-width: 1300px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: $main-font;
  font-size: 40px;
  padding: 10px;
}

.number {
  height: auto;
  font-size: 16px;
  color: #A3A5B0;
  border: 2px solid #e0e2e9;
  border-radius: 12px;
  padding: 10px 16px;
  cursor: pointer;

  a {
    text-decoration: none;
    color: inherit
  }

  &:hover {
    border: 2px solid #A3A5B0;
  }
}