.label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.p {
    margin: 0;
    padding: 4px;
}

.input {
    font-family: 'Inter';
    font-size: inherit;
    line-height: inherit;
    height: 40px;
    margin: 0;
    padding: 2px 16px;
    border: 2px solid #E0E2E9; 
    border-radius: 10px;
    transition: transform 0.3s;
}

.input:focus {
    outline: none;
}

.input:focus-visible {
    outline: none;
    border: 2px solid #852876;
}
