
.label {
    display: block;
    margin: 0 0 4px;
    padding: 4px;
}

.input {
    display: block;
    font-family: 'Inter';
    font-size: inherit;
    line-height: inherit;
    height: 40px;
    margin: 0;
    padding: 2px 16px;
    border: 2px solid var(border); 
    border-radius: 10px;
    transition: transform 0.3s;
}

.input:focus {
    outline: none;
}

.input:focus-visible {
    outline: none;
    border: 2px solid var(border_accent);
}
