.layout {
	margin: 0 auto;
	max-width: 1400px;
	height: 100vh;
	display: flex;
}

.wrap {
	display: flex;
	flex-direction: column;
	flex: 1 0 0;
}

.content {
	display: flex;
	flex-direction: column;
	flex: 1 0 0;
	padding: 32px;
}
