$main-font: 'Inter', 'sans-serif';

$breakpoints: (
	'sm': 576px,
	'md': 768px,
	'lg': 992px,
	'xl': 1200px,
);

$colors: (
	'white': #fff,
	'black': #000,
	'indigo-dark': #191d3a,
	'gray-light': #e0e2e9,
	'gray-dark': #9393a0,
	'purple-grade': #852876,
	'purple-dark-grade': #5d145f,
	'pale-pinkish': #e7d4e4,
	'slate-blue': #474a61,
	'pale-lavender': #e7ecf9,
	'bluish-gray': #9ca3af,
);

// text
$text: var(--lb-white);
$text_input: var(--lb-indigo-dark);
$text_accent: var(--lb-purple-grade);
$text_accent_dark: var(--lb-purple-dark-grade);
$text_grey: var(--lb-gray-dark);

//borders
$border_input: 2px solid var(--lb-gray-light);
$border_accent: 2px solid var(--lb-purple-grade);

// background dropdown
$dropdown_background_clr: var(--lb-pale-pinkish);
$dropdown_border_accent: 1px solid var(--lb-purple-grade);

// cabinet
$text_main: var(--lb-black);
$text_accent: var(--lb-purple-grade);
$text_pale: var(--lb-bluish-gray);

$background_accent: var(--lb-pale-pinkish);

// header
$background_header_plus_icon: var(--lb-slate-blue);
$background_header_user_icon: var(--lb-pale-lavender);

$svg_accent: var(--lb-white);
