$main-font: 'Inter', 'sans-serif';

$breakpoints: (
	'sm': 576px,
	'md': 768px,
	'lg': 992px,
	'xl': 1200px,
);

$colors: (
	'white': #fff,
	'black': #000,
	'indigo-dark': #191d3a,
	'gray-light': #9393a0,
	'purple-grade': #852876,
	'pale-pinkish': #E7D4E4,
);


// TEXT
$text: var(--lb-white);
$text_input: var(--lb-indigo-dark);
$text_accent: var(--lb-purple-grade);
$text_grey: var(--lb-gray-light);

//borders
$border_input: 2px solid var(--lb-gray-light);
$border_accent: 2px solid var(--lb-purple-grade);

// background dropdown
$dropdown_background_clr: var(--lb-pale-pinkish);
$dropdown_border_accent: 1px solid var(--lb-purple-grade);


