@use 'fonts' as *;
@use 'variables' as *;
@use 'mixins' as *;

@forward "fonts";
@forward "mixins";
@forward 'variables';

:root {
	@each $name, $color in $colors {
	  --lb-#{$name}: #{$color};
	}
}  

* {
	font-family: $main-font;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}